.options-container{
    position:fixed;
    right:0;
    display:flex;
    flex-direction:column;
    transition: height linear 0.3s, width linear 0.3s;
    &.collapsed{
        width:150px;
        .options-item{
            opacity:0;
        }
    }
    &.expanded{
        width:500px;
        height:100vh;
        background-color:#feeede;
        border-left:2px solid black;
        z-index:1;
        .options-item {
            transition:opacity linear 0.2s 0.3s;
            opacity:1;
        }
    }
    .options-image{
        height:100px;
        width:100px;
        padding:20px;
        &:hover{
            background-color: #c0c0c0;
        }
    }
    .select-key{
        margin:10px;
        .select-key-option{
            white-space-collapse: preserve;
        }
    }
}