
.sheet-container{
    --bar-height:30px;
    --padding-top:140px;
    height:50vh;
    width:100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    .stave-container{
        display:flex;
        flex-direction:column;
        padding-top:var(--padding-top);
        padding-bottom:70px;
        height:calc(100% - 140px);
        .space{
            height:29px;
            border-top:1px solid black;
            &.f{
                border-bottom:1px solid black;
            }
        }
        .trebleclef{
            height:calc(var(--bar-height) * 6);/*Bars height 120px, overflow of 60px total*/
            position:absolute;
            top:calc(140px - (var(--bar-height) * 3 / 4));/*padding-top - 25px overflow - puts clef in correct place*/
        }
        .key-notation-container{
            position:absolute;
            left:100px;
            display:flex;
            flex-direction:row;
            top:calc(var(--padding-top));
            >*{
                margin:0px;
                font-size:calc(var(--bar-height) * 1.5);
                font-weight: bolder;
                &:hover{
                    cursor:default;
                }
            }
            .key-notation-1{
                position:relative;
                top:calc(var(--bar-height) * 1.5);
            }
            .key-notation-3{
                position:relative;
                top:calc(var(--bar-height) * 1.5);
            }
        }
        .note-container{
            &.minim{
                height:calc(var(--bar-height) * 3.6);/*note takes up the whole line space at this size, so proportionality is 72.22% height is tail and 27.77% is note*/
                position:absolute;
                
                --note-position:calc(100vh - (var(--padding-top) + 30px));/*calculate using bottom rather than top means that we don't need to worry about note height*/
                .note-relative{
                    position:relative;
                    height:100%;
                    .minim{
                        position:absolute;
                        height:100%;
                        &.successful{
                            filter: brightness(0) saturate(100%) invert(24%) sepia(92%) saturate(6531%) hue-rotate(124deg) brightness(96%) contrast(102%);
                        }
                        &.unsuccessful{
                            filter: brightness(0) saturate(100%) invert(24%) sepia(95%) saturate(5655%) hue-rotate(354deg) brightness(93%) contrast(121%);
                        }
                    }
                    div{
                        position:absolute;
                        height:calc(var(--bar-height)/2);
                        width:calc(var(--bar-height) * 1.8);
                        left:calc(var(--bar-height) * 0.9);
                        &.bottom-0{
                            bottom:calc(var(--bar-height) * 1);
                        }
                        &.bottom-1{
                            bottom:0px;
                        }
                        &.bottom-2{
                            bottom:calc(var(--bar-height) * -1);
                        }
                        &.bottom-3{
                            bottom:calc(var(--bar-height) * -2);
                        }
                        &.bottom-4{
                            bottom:calc(var(--bar-height) * -3);
                        }
                    }
                }
                &.octave-5{
                    transform:rotate(180deg) translate(calc(var(--bar-height) * -3.6));
                }
                /*padding-top - bar-height*2.6 will put the note in the high E (top space). Add another bar-height/2 for each additional note.*/
                &.b.octave-5{
                    top:calc(var(--padding-top) + (var(--bar-height) * -2));
                    .bottom-0, .bottom-1{
                        border-bottom:1px solid black;
                    }
                }
                &.a.octave-5{
                    top:calc(var(--padding-top) + (var(--bar-height) * -1.5));
                    .bottom-1{
                        border-top:1px solid black;
                    }
                }       
                &.g.octave-5{
                    top:calc(var(--padding-top) + (var(--bar-height) * -1));
                    .bottom-0{
                        border-bottom:1px solid black;
                    }
                }      
                &.f.octave-5{
                    top:calc(var(--padding-top) + (var(--bar-height) * -0.5));
                }
                &.e.octave-5{
                    top:calc(var(--padding-top) + (var(--bar-height) * 0));
                }
                &.d.octave-5{
                    top:calc(var(--padding-top) + (var(--bar-height) * 0.5));
                }
                &.c.octave-5{
                    top:calc(var(--padding-top) + (var(--bar-height) * 1));
                }   
                /*padding-top - bar-height*2.6 will put the note in the high E (top space). Add another bar-height/2 for each additional note.*/
                &.b.octave-4{
                    bottom:calc(var(--note-position) - (var(--bar-height) * 1.5));
                }
                &.a.octave-4{
                    bottom:calc(var(--note-position) - (var(--bar-height) * 2));
                }       
                &.g.octave-4{
                    bottom:calc(var(--note-position) - (var(--bar-height) * 2.5));
                }      
                &.f.octave-4{
                    bottom:calc(var(--note-position) - (var(--bar-height) * 3));
                }
                &.e.octave-4{
                    bottom:calc(var(--note-position) - (var(--bar-height) * 3.5));
                }
                &.d.octave-4{
                    bottom:calc(var(--note-position) - (var(--bar-height) * 4));
                    .bottom-1{
                        border-bottom:1px solid black;
                    }
                }
                &.c.octave-4{
                    bottom:calc(var(--note-position) - (var(--bar-height) * 4.5));
                    .bottom-1{
                        border-top:1px solid black;
                    }
                }    
            }
        }
    }
}