
@media screen and (min-width: 450px) and (max-width:1650px) {
    .sheet-container{
        --bar-height:20px;
    }
}

@media screen and (min-width: 1651px){
    .sheet-container{
        --bar-height:30px;
    }
}

.sheet-container{
    --padding-top:210px;
    height:50vh;
    width:100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    .stave-container{
        display:flex;
        flex-direction:column;
        padding-top:var(--padding-top);
        padding-bottom:70px;
        height:calc(100% - 140px);
        overflow:hidden;
        .space{
            height:calc(var(--bar-height) - 1px);
            border-top:1px solid black;
            &.f{
                border-bottom:1px solid black;
            }
        }
    }
    .notes-container{
        position:absolute;
        width:100%;
        top:var(--padding-top);   
        height:calc(var(--bar-height) * 4);
        .trebleclef{
            height:calc(var(--bar-height) * 6);/*Bars height 120px, overflow of 60px total*/
            top:calc((var(--bar-height) * -3 / 4));/*padding-top - 25px overflow - puts clef in correct place*/
            position:relative;
        }
        .key-notation-container{
            position:relative;
            display:flex;
            flex-direction:row;
            margin:0px 10px;
            width:calc(var(--bar-height) * 5);
            >*{
                position:relative;
                margin:0px;
                font-weight:bold;
                font-size:calc(var(--bar-height) * 2);
                line-height:60px;
                &.♭{
                    letter-spacing:-5px;
                }
                &:hover{
                    cursor:default;
                }
            }
            #♭-0{
                bottom:calc(var(--bar-height) * -0.5);
            }
            #♭-1{
                bottom:calc(var(--bar-height) * 1);
            }
            #♭-2{
                bottom:calc(var(--bar-height) * -1);
            }
            #♭-3{
                bottom:calc(var(--bar-height) * 0.5);
            }
            #♭-4{
                bottom:calc(var(--bar-height) * -1.5);
            }
            #♯-0{
                bottom:calc((var(--bar-height) * 1) + (var(--bar-height)/10));/*Bar height/10 to adjust slightly so it sits right on the stave*/
            }
            #♯-1{
                bottom:calc((var(--bar-height) * -0.5) + (var(--bar-height)/10));
            }
            #♯-2{
                bottom:calc((var(--bar-height) * 1.5) + (var(--bar-height)/10));
            }
            #♯-3{
                bottom:calc((var(--bar-height) * 0) + (var(--bar-height)/10));
            }
            #♯-4{
                bottom:calc((var(--bar-height) * -1.5) + (var(--bar-height)/10));
            }
        }
        .note-container{
            flex:1 1 auto;
            display:flex;
            &.minim{
                --note-height:calc(var(--bar-height) * 3.6);
                height:var(--note-height);/*note takes up the whole line space at this size, so proportionality is 72.22% height is tail and 27.77% is note*/
                position:relative;
                justify-content: center;
                
                .minim{
                    position:relative;
                    height:100%;
                    &.successful{
                        filter: brightness(0) saturate(100%) invert(24%) sepia(92%) saturate(6531%) hue-rotate(124deg) brightness(96%) contrast(102%);
                    }
                    &.unsuccessful{
                        filter: brightness(0) saturate(100%) invert(24%) sepia(95%) saturate(5655%) hue-rotate(354deg) brightness(93%) contrast(121%);
                    }
                }
                &.octave-4{
                    div{
                        position:absolute;
                        height:calc(var(--bar-height)/2);
                        width:calc(var(--bar-height) * 1.8);
                        &.ledger-line-0{
                            bottom:calc(var(--bar-height) * 4);
                        }
                        &.ledger-line-1{
                            bottom:calc(var(--bar-height) * 3);
                        }
                        &.ledger-line-2{
                            bottom:calc(var(--bar-height) * 2);
                        }
                        &.ledger-line-3{
                            bottom:calc(var(--bar-height) * 1);
                        }
                        &.ledger-line-4{
                            bottom:0px;
                        }
                    }
                }
                &.octave-5{
                    div{
                        position:absolute;
                        height:calc(var(--bar-height)/2);
                        width:calc(var(--bar-height) * 1.8);
                        &.ledger-line-0{
                            top:calc(var(--bar-height) * 4);
                        }
                        &.ledger-line-1{
                            top:calc(var(--bar-height) * 3);
                        }
                        &.ledger-line-2{
                            top:calc(var(--bar-height) * 2);
                        }
                        &.ledger-line-3{
                            top:calc(var(--bar-height) * 1);
                        }
                        &.ledger-line-4{
                            top:0px;
                        }
                    }
                }
                .octave-5{
                    transform:rotate(180deg);
                }
                /*padding-top - bar-height*2.6 will put the note in the high E (top space). Add another bar-height/2 for each additional note.*/
                &.octave-5{
                    bottom:calc((var(--bar-height) * -2));
                }
                /*&.b.octave-5{
                    top:calc((var(--bar-height) * -2));
                    .ledger-line-3{
                        border-top:1px solid black;
                    }
                }
                &.a.octave-5{
                    top:calc((var(--bar-height) * -1.5));
                    .ledger-line-4{
                        border-bottom:1px solid black;
                    }
                }       
                &.g.octave-5{
                    top:calc((var(--bar-height) * -1));
                }      
                &.f.octave-5{
                    top:calc((var(--bar-height) * -0.5));
                }
                &.e.octave-5{
                    top:calc((var(--bar-height) * 0));
                }
                &.d.octave-5{
                    top:calc((var(--bar-height) * 0.5));
                }
                &.c.octave-5{
                    top:calc((var(--bar-height) * 1));
                }*/   
                /*padding-top - bar-height*2.6 will put the note in the high E (top space). Add another bar-height/2 for each additional note.*/
                &.b.octave-4{
                    bottom:calc(var(--note-height) - var(--bar-height) * 2.5);
                }
                &.a.octave-4{
                    bottom:calc(var(--note-height) - var(--bar-height) * 3);
                }       
                &.g.octave-4{
                    bottom:calc(var(--note-height) - var(--bar-height) * 3.5);
                }      
                &.f.octave-4{
                    bottom:calc(var(--note-height) - var(--bar-height) * 4);
                }
                &.e.octave-4{
                    bottom:calc(var(--note-height) - var(--bar-height) * 4.5);
                }
                &.d.octave-4{
                    bottom:calc(var(--note-height) - var(--bar-height) * 5);
                }
                &.c.octave-4{
                    bottom:calc(var(--note-height) - var(--bar-height) * 5.5);
                    .ledger-line-4{
                        border-top:1px solid black;
                    }
                }    
            }
        }
    }
}