
.sheet-container{
    --bar-height:30px;
    --padding-top:140px;
    height:40vh;
    .stave-container{
        display:flex;
        flex-direction:column;
        padding-top:var(--padding-top);
        padding-bottom:70px;
        height:calc(100% - 140px);
        .space{
            height:29px;
            border-top:1px solid black;
            &.f{
                border-bottom:1px solid black;
            }
        }
        .trebleclef{
            height:calc(var(--bar-height) * 6);/*Bars height 120px, overflow of 60px total*/
            position:absolute;
            top:calc(140px - (var(--bar-height) * 3 / 4));/*padding-top - 25px overflow - puts clef in correct place*/
        }
        .minim{
            height:calc(var(--bar-height) * 3.5);/*note takes up the whole line space at this size, so proportionality is ~70% height is tail and ~30% is note*/
            position:absolute;
            left:400px;
            &.b{
                top:115px;/*increment in 15s from 40px + another 75 to get the correct octave*/
            }
            &.a{
                top:130px;
            }       
            &.g{
                top:145px;
            }      
            &.f{
                top:160px;
            }
            &.e{
                top:175px;
            }
            &.d{
                top:190px;
            }
            &.c{
                top:205px;
            }    
        }
    }
}